@import '@/styles';

.ticket_list {
  > * {
    margin-bottom: 20px;
  }
}

.ticket {
  filter: $ticket-card-filter-shadow;

  :global {
    .ant-card {
      width: 502px;
    }
    .ant-card-body {
      width: inherit;
      height: 184px;
      padding: 0px;
    }
  }

  .price {
    @include ticket-price-title;
  }

  .row_title {
    padding: 20px;
  }

  .row_table {
    padding-left: 20px;
    padding-bottom: 10px;

    @media screen and (max-width: 767.9px) {
      padding-right: 10px;
    }

    .header {
      @include ticket-table-header;
    }

    .body {
      @include ticket-table-body;
    }
  }
}
