$ticket-card-filter-shadow: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.1));
$transfer-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
$item-hover-highlight: #f1fcff;

$Frequently-Used-Primary-500: #2196f3;
$Frequently-Used-Primary-Content: #4a4a4a;
$Primary-Colors-Primary-500: #2196f3;
$Primary-Colors-Secondary-Content: #a0b0b9;
$Primary-Colors-White: #ffffff;
$Secondary-Colors-Border: #dfe5ec;
