@import './variables';
@import './fonts';
@import './reset';
@import './mixins';

body {
  background: #f3f7fa;
}

#root {
  height: 100vh;
  background: #f3f7fa;
}

// .ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover
//   .ant-checkbox-checked:not(.ant-checkbox-disabled)
//   .ant-checkbox-inner {
//   background-color: #fff;
//   // border-color: #9abbce;
//   border: 1px solid #2196f3;
//   background-clip: border-box;
// }

// .ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover
//   .ant-checkbox-checked:not(.ant-checkbox-disabled)
//   .ant-checkbox-inner {
//   background-color: #fff;
//   border: 1px solid #2196f3;
//   background-clip: border-box;
// }
