@import '@/styles';

.transfer_filter {
  box-shadow: $transfer-box-shadow;

  .title {
    display: flex;
    padding-left: 20px;
    padding-bottom: 10px;
    @include transfer-filter-title;
  }

  .checkbox_group {
    display: flex;
    flex-direction: column;

    .checkbox {
      width: 232px;
      height: 40px;
      padding-left: 20px;
      align-items: center;

      flex-shrink: 0;
      user-select: none;

      &:hover {
        background-color: $item-hover-highlight;
      }

      @include transfer-filter-label;
    }
  }
}
