@import '@/styles';

.transfer_filter {
  box-shadow: $transfer-box-shadow;

  .title {
    display: flex;
    padding-bottom: 20px;
    @include transfer-filter-title;
  }

  .checkbox_group {
    display: flex;
    flex-direction: column;

    .checkbox {
      &:not(:last-child) {
        padding-bottom: 20px;
      }

      @include transfer-filter-label;
    }
  }
}
